.sidebar, .aux1 {
  ;width: 20%
}
.aux2 {
  ;width: 30%
}
.title {
  ;width: 50%
}
.appname a {
  ;text-decoration: none
  ;color: black
}
.appname a:hover {
  ;color: #0066FF
}
.main {
  ;width: 75%
  ;border-left: 1px dotted #aaa;
}
.hidden {
  display:none
}

/* error */
.debugging {
  ;font-size: 0.8em 
}
.table-head { ;width:20%; font-style: italic }
.table-body { ;width:80% }
.indicator { ;font-weight: bold }
.indicator2 { 
  ;text-align: right
  ;font-style: italic 
}
.content {
  ;height: 40%
  ;overflow: auto
}


/* form */
.form-title {
  ;margin-top: 1.2em
  ;margin-bottom: 0.2em
  ;font-weight: bold
}
.form {
  ;width: 50%
  ;float: left
  ;margin-top: 0.2em
  ;margin-bottom: 1.2em
}
label {
  ;width: 100%
  ;display: inline-block
  ;margin: 0.4em
}
label>span {
  ;width: 35%
  ;display: inline-block
}
label select
,label input
,label textarea {
  ;display: inline-block
}

/* component */
.tabline {
  ;border-top: 1px dotted #aaa
  ;border-bottom: 1px dotted #aaa
}
.tabline .tab {
  ;padding-top: 0.4em
  ;padding-bottom: 0.4em
  ;width: fit-content
  ;display: inline-block
  ;cursor: pointer
}
.tabline {
  ;border-top: 1px dotted #aaa
  ;border-bottom: 1px dotted #aaa
}
.tabline .tab {
  ;padding-top: 0.4em
  ;padding-bottom: 0.4em
  ;width: fit-content
  ;display: inline-block
}
.tabline .selected {
  ;background-color: #aaa
  ;font-style: italic
}
